html {
    /* justify-items: center; */
    border: 2px red solid;
    height: 100%;
}

body {
    border: 2px blue solid;
    height: 100%;
    width: 100%;
    display: flex;
}

main {
    border: 5px silver solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
img {
    width: 300px;
    height: auto;
    border: 3px black solid;
}

input {
    border: 2px black solid;
}